{% extends "layout.html" %}
{% block content %}
  <body>
    <form action="/trade" method="POST">
      <input type="text" name="stockName">
      <br>
      <input type="number" name="amount">
      <br>
      <input type="radio" name="transactionType" value="Buy" id="transactionType_Buy">
      <label for="transactionType_Buy">Buy</label>
      <br>
      <input type="radio" name="transactionType" value="Sell" id="transactionType_Sell">
      <label for="transactionType_Sell">Sell</label>
    </form>
  </body>
{% endblock %}